/* Base Styles */
body {
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  font-family: 'Arial', sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Navbar */
.navbar {
  padding-left: 15px;
  z-index: 2; 
}

nav a {
  color: white;
}

nav a:hover {
  color: #FFD700;  /* Golden color for hover effect */
}

/* Boards - Drag & Drop */
.draggable-list {
  min-height: 20px;
  border: 1px dashed #ccc;
  padding: 10px;
  border-radius: 5px;
}

.draggable-list > li {
  min-height: auto;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.board-columns {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
}

.column {
  flex: 1;
  overflow-y: auto;
  min-height: 300px;
  background-color: #009CAA;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.column:hover, .draggable-list li:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Welcome Text */
.welcome-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #5c9ad3;
  text-align: center;
  z-index: 1;
  flex-direction: column;
}

.welcome-text h2, .welcome-text p {
  margin: 0;
}

.welcome-text p a {
  color: #FFD700;
  font-weight: bold;
}

.welcome-text p a:hover {
  color: white;
}

/* Buttons */
.btn {
  border-radius: 25px;
  padding: 10px 20px;
  transition: all 0.3s;
  font-weight: bold;
  border: none;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.btn:active {
  transform: scale(0.98);
}

.btn-primary {
  background-color: #5c9ad3;
  background-image: linear-gradient(45deg, #5c9ad3, #7aadda);
  color: white;
}

.btn-primary:hover {
  background-image: linear-gradient(45deg, #4b89c0, #699ec7);
}

.btn-secondary {
  background-color: #e0eafc;
  background-image: linear-gradient(45deg, #e0eafc, #d3dbef);
  color: #5c9ad3;
}

.btn-secondary:hover {
  background-image: linear-gradient(45deg, #ced6e6, #c2cbe1);
}

.btn-danger {
  background-color: #e74c3c;
}

.auth-btn {
  width: 150px;   /* or whatever width you find suitable */
  text-align: center;
}
